body {
    background-image: url("../../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#header {
    text-align: center;
    margin-top: 25px;
}

#title {
    font-family: Papyrus, fantasy;
    font-weight: bold;
    font-size: 55px;
    color: black;
    text-shadow:
        -1px -1px 0 orangered,
        1px -1px 0 orangered,
        -1px 1px 0 orangered,
        1px 1px 0 yellow;
    
}

#header1 {
    max-width: 90%;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
    font-family: Papyrus, fantasy;
    text-align: center;
    font-weight: bold;
    color: black;
    text-shadow:
        -1px -1px 0 orangered,
        1px -1px 0 orangered,
        -1px 1px 0 orangered,
        1px 1px 0 yellow;
}

#fighterRow {
    max-width: 90%;
    margin: 20 auto;
    justify-content: space-evenly;
}

#characterImg {
    height: 200px;
    width: 200px; 
    margin: 0 auto;
    margin-top: 10px;
    border: solid 3px black;
}

.card {
    width: 250px;
    /* position: relative; */
}

#card {
    background-color: lightgray;
    border: solid 3px black;
    font-family: Papyrus, fantasy;
    font-weight: bold;
}

.card-body {
    background-color: lightgray;
}

#combatHeader {
    max-width: 90%;
    margin: 20 auto;
    justify-content: space-evenly;
    
}

.card-title {
    text-align: center;
}

.hpText {
    text-align: center;
}

#attackZone {
    text-align: center;
    background-color: darkslategray;
    border-radius: 8px;
    border: solid 3px black;
    padding-bottom: 20px;
}

.attackBtn {
    background-color: blue;
    color: white;
    width: 50%;
    margin-top: 55px;
}

.resetBtn {
    background-color: blue;
    color: white;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
}

#continue {
    text-decoration: underline;
}

.attackBtn:hover {
    background-color: red;
    width: 60%;
    font-size: 22px;
}

.resetBtn:hover {
    background-color: green;
    width: 60%;
    font-size: 22px;
}

#titles {
    font-family: Papyrus, fantasy;
    font-weight: bold;
    color: black;
    text-shadow:
        -1px -1px 0 orangered,
        1px -1px 0 orangered,
        -1px 1px 0 orangered,
        1px 1px 0 yellow;
}

#stats {
    font-family: Papyrus, fantasy;
    font-weight: bold;
    color: black;
    text-shadow:
        -1px -1px 0 orangered,
        1px -1px 0 orangered,
        -1px 1px 0 orangered,
        1px 1px 0 orangered;
}

#combatRow {
    max-width: 90%;
    margin: 20 auto;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

#header2 {
    max-width: 90%;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

