#header {
    text-align: center;
    margin-top: 15px;
}

#header1 {
    max-width: 90%;
    border-bottom: 3px solid black;
    margin-bottom: 10px;
}

#fighterRow {
    max-width: 90%;
    margin: 20 auto;
    justify-content: space-evenly;
}

#characterImg {
    height: 200px;
    width: 200px; 
    margin: 0 auto;
    margin-top: 10px;
}

.card {
    width: 250px;
    position: relative;
}

#combatHeader {
    max-width: 90%;
    margin: 20 auto;
    justify-content: space-evenly;
}

.card-title {
    text-align: center;
}

.hp {
    text-align: center;
}

#attackZone {
    text-align: center;
}

.attackBtn {
    background-color: blue;
    color: white;
    width: 50%;
    margin-top: 55px;
}

#combatRow {
    max-width: 90%;
    margin: 20 auto;
    justify-content: space-evenly;
}

#header2 {
    max-width: 90%;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}